---
layout: page0
title: Dynamis
author: dynamis
permalink: /authors/dynamis/
---

<div class="tags">
  {% assign current_author = site.data.authors[page.author] %}
  <div class="container">
  	<div class="row">
  		<div class="col-d-4 col-12 col-t-8">
  			<div class="row">
          <p>{{ post.author[item] }}</p>
          <p>{{ current_author }}</p>
  			{%- for post in site.posts -%}
          {% for item in (0..post.author.size) %}
            {% if post.author[item] == current_author.name  %}
              <p>{{ current_author }}</p>
              <p>{{ post.author[item] }}</p>
      				<!-- <article class="article col col-12 col-t-6">
      					<div class="article-box">
      						<div class="article-head">
      							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{"/img/" | prepend: site.baseurl | append : post.image}})">
      								<div class="image-overlay">
      									<span class="image-overlay-text">{{post.title | slice: 0}}</span>
      								</div>
      							</a>
      						</div>
      						<div class="article-content">
      							<div class="article-info">
      								<div class="article-date">
      									<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
      								</div>
      								<div class="article-tag">
      								{% if post.tags.size >= 1 %}
      									{% for tag in post.tags %}
      									<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
      									{% endfor %}
      								{% else %} {% endif %}
      								</div>
      							</div>
      							<h2 class="article-title">
      								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
      							</h2>
      							<p class="article-excerpt">{% if post.description %}{{ post.description | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p>
      						</div>
      					</div>
      				</article> -->
            {% endif %}
          {% endfor %}
  			{% endfor %}
  			</div>
  		</div>
  	</div>
  </div>
</div> <!-- /.tags -->
