// FOOTER
.footer {
  padding: 50px 0;
  margin-top: 30px;
  background: $blue-darken;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
  .logo-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $snow;
    &:hover {
      color: $primary-color;
    }
  }
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    padding: 8px 10px;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    //background-color: $background;
    color: $snow;
    cursor: pointer;
    transition: $global-transition;
    opacity: .5;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .copyright {
    margin-right: 60px;
    p {
      margin-bottom: 0;
      font-size: 13px;
      color: $gray-blue;
      a {
        color: $gray-blue;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .footer-social {
    ul {
      li {
        display: inline-block;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: 13px;
          font-weight: bold;
          color: $gray-blue;
          transition: $global-transition;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
